@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0b1220;
  color: #f9fafb;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

.grid-pattern {
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);

  background-size: 40px 40px;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 200%;
  animation: marquee 25s linear infinite;
}
@keyframes radar {
  from {
    transform: translate(-50%, -100%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -100%) rotate(360deg);
  }
}

.animate-spin {
  animation: radar 6s linear infinite;
}

@keyframes toolMarquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.tool-marquee {
  display: flex;
  width: max-content;
  animation: toolMarquee 40s linear infinite;
}

.tool-marquee:hover {
  animation-play-state: paused;
}

.turnstile {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}